.lead__caption {
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
	width: 984px;
	text-align: left;
}

@media screen and (max-width: 1279px) {
	.lead__caption {
		width: 928px;
	}
}

@media screen and (max-width: 1023px) {
	.lead__caption {
		margin: 0 0 0 24px;
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.lead__caption {
		margin: 0 0 0 16px;
	}
}