.cover__title {
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	margin: 0 0 32px;
	padding: 0;
	width: 560px;
	height: 152px;
	white-space: pre-line;
	z-index: 2;
}

@media screen and (max-width: 767px) {
	.cover__title {
		width: 288px;
		height: auto;
		font-size: 32px;
		line-height: 35px;
		margin: 0 0 16px;
	}
}