body {
	background: #2A2C2F;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #2A2C2F;
  color: #FFF;
}

/* Начало header */
.header {
	display: flex;
	margin: 28px 48px 56px;
	justify-content: space-between;
}

.header__lang-links {
	list-style: none;
	display: flex;
}

.header__lang-link {
	color: white;
  text-decoration: none;
  font-size: 24px;
	line-height: 28px;
	margin-left: 18px;
}

.header__lang-link_underline {
	border-bottom: 2px solid #FFF;
}
/* Конец header */
/* Начало lead */

.lead {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
	width: 984px;
	margin: 0 auto 92px;
}

.lead__title {
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	margin: 0 auto 32px;
	padding: 0;
	max-width: 720px;
}

.lead__subtitle {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0 auto 64px;
	padding: 0;
	max-width: 640px;
}

.lead__caption {
	align-self: flex-start;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
/* Конец lead */
/* Начало intro */
.intro {
	display: flex;
	flex-direction: column;
	margin-bottom: 92px;
}

.intro__title {
	margin: 0 0 40px;
	padding: 0;
	line-height: 58px;
	font-weight: 900;
	font-size: 54px;
}

.intro__text {
	width: 690px;
	height: 208px;
	font-weight: normal;
	font-size: 16px;
	line-height: 163%;
	margin: 0 0 33px;
	padding: 0;
}

.intro__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.intro__list-item {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.intro__list-item_normal {
	font-weight: normal;
}

/* Конец intro */

/* Начало places */

.places {
	width: 77%;
}

.place {
	list-style-type: none;
}

.place__title {
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	width: 460px;
	margin: 0;
	padding: 0;
}

.place__website {
	width: 460px;
}

.place__url_heading {
	color: #AAA;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.place__link {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFF;
}

.place__image {
	height: 460px;
	width: 460px;
}

.place__paragraph {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 163%;
}

/* Конец places */