.cover__item {
	width: 1184px;
	min-height: 740px;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto 92px;
	color: #ffffff;
 	text-decoration: none;
	justify-content: center;
	align-items: center;
	background-image: url("../../../images/cover-trains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
	z-index: 0;
}

.cover__item::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #2A2C2F;
	opacity: 0.3;
	z-index: -1;
	transition: opacity 1s ease; 
}

.cover__item:hover::before {
	opacity: 0.8;
}

@media screen and (max-width: 1279px) {
	.cover__item {
		max-width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 1023px) {
	.cover__item {
		min-height: 480px;
		margin: 0 auto 88px;
	}
}

@media screen and (max-width: 767px) {
	.cover__item {
		min-height: 200px;
		margin: 0 auto 64px;
	}
}